{% extends 'base.html.twig' %}

{% block title %}QCM!{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
    	<div class="col-md-12 mt-5">
    		<h1 class="text-center">QCM</h1> 
    		{{ form_start(form) }} 
    			<p class="question font-weight-bold">{{ question.libele }}</p>
    			{{ form_widget(form.reponse)}}
    			<div class="hidden">
    				{{form_widget(form.question)}}
    			</div>
    			<button class="btn btn-primary float-right">Next</button>
    		{{ form_end(form) }}
    	</div>
    </div>
</div>
{% endblock %}
